server {
    listen 8080;
    Host 0.0.0.0
    server_name : Stas42;
    client_max_body_size 100M;
    
    location / {
        root www;
        index /static/index.html;
        autoindex on;
        allowed_methods GET;
		error_page 404 www/error/not_found.html;
    }
    location /infinity-loop {
        root www/cgi-bin;
        index /infinity_loop.py;
        autoindex off
        allowed_methods GET POST;
        error_page 504 www/error/bad_gateway.html;
    }
    location /error {
        root www/error;
        autoindex on;
        allowed_methods GET;
    }
    location /upload {
        root www/upload;
        autoindex off;
        allowed_methods POST;
        error_page 403 www/error/forbidden.html;
        error_page 405 www/error/method_not_allowed.html;
    }
    location /static {
        root www/static;
        autoindex on;
        allowed_methods GET;
        error_page 405 www/error/method_not_allowed.html;
		error_page 403 www/error/forbidden.html;
		error_page 404 www/error/not_found.html;
    }
    location /chunked {
        root www/cgi-bin;
        cgi_path Chunked.py;
        allowed_methods POST GET;
    }
    location /cgi-bin {
        root www/cgi-bin;
        autoindex on;
        allowed_methods GET POST;
    }
}