server {
	listen 8083;

	Host 0.0.0.0
	server_name : Stas42;
	client_max_body_size 1000000000000000000000000000000000000000000000000M
	
	location / {
		root www;
		index /static/index.html;
		autoindex on;
		allowed_methods DELETE GET POST;

		error_page 404 www/error/not_found.html;
	}

	location /static {
		root www/static;
		autoindex on;
		allowed_methods GET DELETE;
		error_page 405 www/error/method_not_allowed.html;
		error_page 403 www/error/forbidden.html;
		error_page 404 www/error/not_found.html;
	}

	location /error {
		root www/error;
		autoindex off;
		allowed_methods GET;
		error_page 403 www/error/forbidden.html;
		error_page 404 www/error/not_found.html;
	}

	location /upload {
		root www/upload;
		autoindex on;
		allowed_methods GET POST;
	}

	location /delete {
		root www/delete;
		autoindex on;
		allowed_methods DELETE;
		error_page 403 www/error/forbidden.html;
		error_page 404 www/error/not_found.html;
		error_page 405 www/error/method_not_allowed.html;
	}

	location /cgi-bin {
		root www/cgi-bin;
		autoindex on;
		allowed_methods GET POST;
		error_page 400 www/error/bad_request.html;
		error_page 403 www/error/forbidden.html;
		error_page 405 www/error/method_not_allowed.html;
		error_page 504 www/error/bad_gateway.html;
	}

	error_page 400 www/error/bad_request.html;

	error_page 404 www/error/not_found.html;
	error_page 405 www/error/method_not_allowed.html;
	error_page 413 www/error/413.html;
	error_page 500 www/error/internal_server_error.html;
}

