server {
	listen 8016;
	server_name : Stas42
	client_max_body_size 10M

	location / {
		allowed_methods GET POST;
		root /www;
		autoindex on;

	}

	error_page 404 /404.html;
	error_page 413 /413.html;
	error_page 500 /500.html;
}


	error_page 400 www/error/bad_request.html;
	error_page 403 www/error/forbidden.html;
	error_page 404 www/error/not_found.html;
	error_page 405 www/error/method_not_allowed.html;
	error_page 413 www/error/413.html;
	error_page 500 www/error/500.html;