server {
    listen 8080;
    Host 127.0.0.1;
    server_name Stas42.com;
    client_max_body_size 100M;
    
    location / {
        root www;
        index /static/index.html;
        autoindex on;
        allowed_methods GET;
		error_page 404 www/error/not_found.html;
    }
    location /infinity-loop {
        root www/cgi-bin;
        index /infinity_loop.py;
        cgi_extension .py;
        cgi_interpreter .py /usr/bin/python3;
        autoindex off;
        allowed_methods GET POST;
        error_page 504 www/error/bad_gateway.html;
    }
    location /error {
        root www/error;
        autoindex on;
        allowed_methods GET;
    }
    location /upload {
        root www/upload;
        autoindex on;
        allowed_methods GET POST DELETE;
        error_page 400 www/error/bad_request.html;
        error_page 403 www/error/forbidden.html;
        error_page 405 www/error/method_not_allowed.html;
        error_page 423 www/error/locked.html;
        error_page 413 www/error/body_too_large.html;
    }
    location /static {
        root www/static;
        autoindex on;
        allowed_methods GET;
        error_page 405 www/error/method_not_allowed.html;
		error_page 403 www/error/forbidden.html;
		error_page 404 www/error/not_found.html;
    }
    location /chunked {
        root www/cgi-bin;
        index /Chunked.py;
        allowed_methods POST GET;
    }
    location /cgi-bin {
        root www/cgi-bin;
        autoindex on;
        cgi_extension .py .php;
        cgi_interpreter .py /usr/bin/python3;
        cgi_interpreter .php /usr/bin/php;
        allowed_methods GET POST;
        error_page 404 www/error/not_found.html;
        error_page 403 www/error/forbidden.html;
    }
    location /redirect {
        allowed_methods GET;
        return /static/home.html;
    }
    location /comments {
        root www;
        allowed_methods GET;
        autoindex off;
        index /static/comments.html;
    }
}

server {
    listen 8080;
    Host 0.0.0.0;
    server_name hello.com;
    client_max_body_size 100M;
    
    location / {
        root www;
        autoindex on;
        allowed_methods GET;
		error_page 404 www/error/not_found.html;
    }
    location /infinity-loop {
        root www/cgi-bin;
        index /infinity_loop.py;
        autoindex off;
        allowed_methods GET POST;
        error_page 504 www/error/bad_gateway.html;
        error_page 404 www/error/not_found.html;
    }
    location /error {
        root www/error;
        autoindex on;
        allowed_methods GET;
    }
    location /upload {
        root www/upload;
        autoindex off;
        allowed_methods POST;
        error_page 403 www/error/forbidden.html;
        error_page 405 www/error/method_not_allowed.html;
    }
    location /static {
        root www/static;
        autoindex on;
        allowed_methods GET;
        error_page 405 www/error/method_not_allowed.html;
		error_page 403 www/error/forbidden.html;
		error_page 404 www/error/not_found.html;
    }
    location /chunked {
        root www/cgi-bin;
        cgi_path Chunked.py;
        allowed_methods POST GET;
    }
    location /cgi-bin {
        root www/cgi-bin;
        autoindex on;
        allowed_methods GET POST;
    }
}

server {
    listen 8022;
    Host 0.0.0.0;
    server_name fail.com;
    client_max_body_size 100M;
    
    location / {
        root www;
        index /static/index.html;
        autoindex on;
        allowed_methods POST;
		error_page 404 www/error/not_found.html;
    }
    location /infinity-loop {
        root www/cgi-bin;
        index /infinity_loop.py;
        autoindex off;
        allowed_methods GET POST;
        error_page 504 www/error/bad_gateway.html;
    }
    location /error {
        root www/error;
        autoindex on;
        allowed_methods GET;
    }
    location /upload {
        root www/upload;
        autoindex off;
        allowed_methods POST;
        error_page 403 www/error/forbidden.html;
        error_page 405 www/error/method_not_allowed.html;
    }
    location /static {
        root www/static;
        autoindex on;
        allowed_methods GET;
        error_page 405 www/error/method_not_allowed.html;
		error_page 403 www/error/forbidden.html;
		error_page 404 www/error/not_found.html;
    }
    location /chunked {
        root www/cgi-bin;
        cgi_path Chunked.py;
        allowed_methods POST GET;
    }
    location /cgi-bin {
        root www/cgi-bin;
        autoindex on;
        cgi_extension .py .php;
        cgi_interpreter .py /usr/bin/python3;
        allowed_methods GET POST;
        error_page 404 www/error/not_found.html;
        error_page 403 www/error/forbidden.html;
        error_page 500 www/error/internal_server_error.html;
    }
}